@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --bg-color: #f4f2f2;
}

body {
  box-sizing: border-box;
  background-color: var(--bg-color);
  width: 350px;
  min-height: 207px;
  /* padding: 16px; */
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
  color: '#1C1C1C';
  /* background-color: var(--bg-color); */
}

.extension-name h2 {
  font-size: 12px;
  font-weight: 600;
  padding-left: 16px;
}

hr {
  background-color: red;
}

#main-container,
#player-view {
  padding: 0 16px;
}

#main-text,
#no-track-view {
  text-align: center;
}

#main-text h3,
#no-track-view h3 {
  font-size: 24px;
  line-height: 20px;
  /* text-align: center; */
}

#main-text p,
#no-track-view p {
  margin-top: -16px;
  font-size: 12px;
  /* text-align: left; */
}

#main-text button,
.error-container button,
#no-track-view button {
  background-color: #1c1c1c;
  border-radius: 10px;
  padding: 10px 12px;
  color: #fffdfd;
  border: none;
  font-family: 'Montserrat', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 10px;
  cursor: pointer;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.error-container p {
  margin-top: 0px;
  font-size: 12px;
  /* text-align: left; */
}

#track-info label {
  font-weight: 500;
  font-size: 12px;
}

.language-selector {
  display: flex;
  flex-direction: column;
}

#language {
  border: 1px solid rgba(130, 71, 233, 0.5);
  background-color: rgba(130, 71, 233, 0.15);
  outline: none;
  width: 120px;
  padding: 4px;
  margin-top: 8px;
  border-radius: 4px;
}

#track-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

#track-display h3 {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}

#lyrics-container {
  width: 80%;
  margin: auto;
  border: 1px solid black;
  padding: 0 12px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 4px 4px;
  margin-bottom: 12px;
}

/* #current-track {
  padding: 12px;
  background: #f5f5f5;
  border-radius: 8px;
}

#lyrics-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin: 16px 0;
}

#language-selector {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
} */
